# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.pyo

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Django
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
media/
staticfiles/

# Editors / IDE
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Migrations cache artifacts
**/migrations/__pycache__/
