{% extends "base.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Smazat akci</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <p>Opravdu chcete smazat akci <strong>{{ object.nazev }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Ano, smazat</button>
            <a href="{% url 'akce_detail' object.pk %}" class="btn btn-secondary">Zrušit</a>
        </form>
    </div>
</div>
{% endblock %}